# Ignorar los archivos y carpetas especificas que no requiero en el repo
cloud2/lib
cloud2/Scripts/*
cloud2/.gitignore.txt
cloud2/pyvenv.cfg
cloud2/Scripts/ProyectoCloud/db.sqlite3

# Archivos y carpetas que no seran ignorados
!cloud2/Scripts/ProyectoCloud
!cloud2/Scripts/requirements.txt