{%load static%}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/Styles.css' %}">
    <title>Pantalla administrador</title>
</head>
<body>
    <script src="{% static '/Javascript/Actividades.js' %}"></script>
    <section class="home">
        <div class="nav-bar">
            <p> GOV.CO</p> 
            <button> Perfil</button> 
            
        </div>
        <div class="logo-CRC">
            <img src="{% static '/Images/Logo_CRC.jpg' %}" height="200">
        </div>
        <!-- Seccion de datos-->
        <div class="Datos">
            <h1> Roles</h1> 
            <div class = Esp_Graficas >
                <input class="checkbox" type="checkbox" id="SelTodos" value="first_checkbox" />
                <label style="font-size: 25px;" for="SelTodosAdmin" class="check_label"> Seleccionar todos </label>       
                <button class="btn7"> Borrar </button>       
                <button class="btn7"> Crear </button>
                <div class="tabla">
                    <table class = "table" border="1">
                        <tr>
                            <th>Usuario </th>
                            <th>Correo </th>
                            <th>Grupo </th>
                            <th>Permisos </th>
                            <th>Editar </th>
                        </tr>
                        <tr>
                            <td>Dato 1</td>
                            <td>Dato 2</td>
                            <td>Dato 3</td>
                            <td>Dato 4</td>
                            <td>Dato 5</td>
                        </tr>
                        <tr>
                            <td>Dato 6</td>
                            <td>Dato 7</td>
                            <td>Dato 8</td>
                            <td>Dato 9</td>
                            <td>Dato 10</td>
                        </tr>
                    </table>
                </div>
            </div>
            <button onclick="abrirVentana()" class="btn6"> Cargar archivos</button>
            <div class="ventana-Signin" id="ventana-Signin">
                <div class="ventana">
                    <label style="font-size: 20px;" for="archivo">Selecciona un archivo:</label>
                    <input type="file" id="archivo" name="archivo" accept=".txt, .pdf, .doc"> <br>
                    <button class="btn8" type="submit">Enviar Archivo</button><br>
                    <button onclick="cerrarVentana()" class="btn8"> Cerrar </button>
                </div>
            </div> 
            <button class="btn6"> Ver base de datos </button> 
            <button onclick="abrirVentana()" class="btn6"> Descargar archivos</button>
            <div class="ventana-Signin" id="ventana-Signin">
                <div class="ventana">
                    <h2 style="text-align: center;">Formato de descarga</h2>
                    <button class="btn5">.xls</button>
                    <button class="btn5">.csv</button> 
                    <button class="btn5"> .pdf </button><br>
                    <button onclick="cerrarVentana()" class="btn5"> Cerrar </button>
                </div>
            </div>    
        </div>
    </section>
</body>
<footer>
    <section class="Info">
    <div class="Logo_CRC">
        <img src="{% static '/Images/images.png' %}" height="100">
    </div>
    <div class="Detalles">
        <h2>Adriana Valentina Alvarez Arias</h2>    
        <h2>Francisco Javier Ramirez Barreto</h2>
        <h2>Ingeniería de Telecomunicaciones</h2>
        <h2>Universidad Santo Tomás</h2>
        <h3>2024</h3>
    </div>
    </section>
</footer>
</html>